body {
    background-color: $grayish-white !important;
}


p {
    font-family: $font-montserrat;
    margin-bottom: 0 !important;
}

.mobile{ 
	display: none;
}
.desk{
	display: block;
}


@media screen and (max-width: $mediaTablet-768) {
    .desk{
        display: none;
    }
    .mobile {
        display: block;
    }
   
    .carousel {
        margin-top: 58px;
    }
    .search__container {
        margin-top: 25%;
    }
  
}