/* Estilos tickeralia v2
Evelyn Alcantara Cardenas*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefef;
}


p {
    font-family: 'Montserrat', sans-serif;
}

/* Navegacion */
.navbar {
    background-color: #2424249c;
    font-size: 14px;
}

.navbar-nav li {
    padding: 0 20px;
}

.navbar-nav  li a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.btn__inside {
    background-color: #4743b9;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
}

.btn__outside {
    background-color: #ffffff;
    border: 2px solid #4743b9;
    border-radius: 8px;
    color: #4743b9;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
}
/* Navegacion */




/* section carousel */
.carousel {
    margin: 0 auto;
}

/* section gallery */





/* section featured */
.featured{
    margin: 3rem;
}

.featured__title h1{
    font-family: 'Bodoni Moda', serif;
    font-size: 3em;
    text-align: center;
}

.featured__description {
    color: #a7a7a7 !important;
    font-size: 19px;
    line-height: 1.3;
    text-align: center;
}

.card__featured {
    padding: 3% 0;
}

.card__item__featured {
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
.card__item__featured:hover {
    box-shadow: 6px 6px 16px 0 #1414147d;
}
  
.card__featured h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
/* section featured */





/* ------------------EVENTOS HTML----------------- */
.card__container{
    display: flex;
}

.card__item {
    margin: 2rem ;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
.card__item:hover {
    box-shadow: 6px 6px 16px 0 #4b4b4bc2;
}
  
.card_container {
    padding: 30px 15px;
}

.card_container h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
/* ------------------EVENTOS HTML----------------- */





/* ------------------MERCANCIA HTML----------------- */

.merch__card {
    height: 327px;
    width: 654px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}
  
  .product__img {
    float: left;
    height: 327px;
    width: 327px;
  }
  
  .product__img img {
    border-radius: 7px 0 0 7px;
    width: 100%;
  }
  
  .product__info {
    float: left;
    height: 327px;
    width: 327px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
  }
  
  .product__text {
    height: 240px;
    width: 327px;
  }
  
  .product__text h2 {
    margin: 0 0 0 38px;
    padding-top: 52px;
    font-size: 34px;
    color: #3a3a3a;
  }
  
  .product__text h2,
  .product-price-btn p {
    font-family: 'Bodoni Moda', serif;
  }
  
  .product__text h3 {
    padding: 0 0 30px 38px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #c7c7c7;
    letter-spacing: 0.2em;
  }
  
  .product__text p {
    height: 125px;
    margin: 0 0 0 38px;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: 400;
    overflow: hidden;
  }
  
  .product-price-btn {
    margin-top: 17px;
    position: relative;
  }
  
  .product-price-btn p {
    display: inline-block;
    position: absolute;
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: 800;
  }
  
  .product-price-btn button {
    float: right;
    height: 50px;
    width: 150px;
    margin: 0 40px 0 15px;
    box-sizing: border-box;
    border: 2px solid #7743B9;
    border-radius: 60px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #7743B9;
    background-color: #ffffff;
  }
  
  .product-price-btn button:hover {
    color: #ffffff;
    background-color: #7743B9;
  }
/* ------------------MERCANCIA HTML----------------- */






/* ------------------CONTACTO HTML----------------- */
.form{
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.form__data{
    margin: 2rem;
    width: 30%;
}

.form__photo{
    width: 70%;
}

.form__header h1{
    padding-bottom: 20px;
    color: #7743B9;
}

.form__info{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.form__info p{
    margin: 20px 0;
    text-align: right;
    font-size: 12px;
}

.form__info a{
    color: #666666;
}

.form__field {
    font-family: 'Montserrat', sans-serif;
    height: 46px;
    padding: 0 16px;
    border: solid #ffffff;
    border-radius: 4px;
    transition: 0.2s;
    margin-top: 20px;
}

.form__photo img{
    max-width: 100%;
}
/* ------------------CONTACTO HTML----------------- */





/* ------------------AYUDA HTML----------------- */

.help__wrapper {
    max-width: 600px;
    width: 100%;
    margin: 10vh auto;
}

.help__wrapper h1 {
    font-family: 'Bodoni Moda', serif;
    font-size: 2rem;
    margin-bottom: 40px;
    text-align:center;
}

.help__wrapper input {
    display: none;
}

.help__wrapper label {
    display: flex;
    width: 100%;
    height: 50px;
    cursor: pointer;
    border: 2px solid #7743B9;
    border-radius: 10px;
    user-select: none;
}

.help__wrapper label div:first-child {
    width: 100%;
    line-height: 45px;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.help__cross{
    margin-right:15px;
    margin-top:3px;
}

.help__cross:before,.help__cross:after {
    content: '';
    border-top: 2px solid #4c4c4c;
    width: 15px;
    display: block;
    margin-top: 18px;
    transition: 0.3s;
}

.help__cross:after {
    transform: rotate(90deg);
    margin-top: -2px;
}

.content {
    box-sizing: border-box;
    margin: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height, .5s;
}
.content p{
    line-height: 1.5;
    font-weight: 300;
}

input:checked ~ .content {
    max-height: 400px;
    transition: max-height, 1s;
}

input:checked ~ label .help__cross:before {
    transform: rotate(180deg);
}

input:checked ~ label .help__cross:after {
    transform: rotate(0deg);
}
/* ------------------AYUDA HTML----------------- */





/* footer */
footer {
    padding: 5rem 0 2rem 0;
}

.footer__heading img{
    width: 18%;
    padding-bottom: 30px;
}

.footer__tick {
    background-color: #1a151c;
    text-align: center;
}

.footer__menu{
    margin-bottom: 30px;
    border-bottom: 1px solid #c7c7c7;
}

.footer__menu ul{
    padding:0;
    list-style:none;
    display: inline-flex;
}

.footer__menu a{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    padding: 0 20px;
    color: #c7c7c7;
    text-decoration: none;
}

.footer__rrss{
    margin-bottom: 30px;
}

.footer__rrss img{
    width: 25px;
    margin: 20px;
}

.footer__level2{
    color: #c7c7c7;
    font-size: 14px;
    font-weight: 200;
}
/* footer */



@media (min-width: 320px) and (max-width: 768px) {
    footer {
        padding: 3rem 0 2rem 0;
    }
    .footer__tick {
        text-align: left;
    }
    .footer__heading img{
        width: 45%;
    }
    .footer__menu ul{
        list-style:none;
        display: inline-block;
    }
    .footer__rrss img{
        width: 20px;
        margin: 15px;
    }
    
}