/* ------------------MERCANCIA HTML----------------- */

.merch__items{
  margin-top: 10%;
}

.merchcard {
  background-color: $white;
  margin: 50px 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 11px 11px 10px 0px #00000041;
  &__img img{
    width: 60%;
  }
}


.product {
  padding: 30px 15px;

  &__text {
    padding-bottom: 20px;
    h2 {
      font-size: 30px;
      color: $black;
      font-weight: 200;
    }
    h3 {
      font-size: 13px;
      font-family: $font-montserrat;
      font-weight: 400;
      text-transform: uppercase;
      color: $gray-medium;
      letter-spacing: 0.2em;
    }
    p {
      font-family: $font-bodoni;
      font-size: 26px;
      font-weight: 800;
    }
  }

  &__price {
    padding-top: 15px;
  }
}



